{% macro networkSettings(network, data, environment) %}
    <nav class="network-navigation">
        <span class="network-nav-item admin-nav-text" data-type="title">
            {{ environment.translate('Title') }}
        </span> |
        <span class="network-nav-item admin-nav-text active" data-type="name">
            {{ environment.translate('Button Text') }}
        </span> |
        <span class="network-nav-item admin-nav-text" data-type="tooltip">
            {{ environment.translate('Tooltip') }}
        </span>
    </nav>

    <div class="information-container">
        <input type="text" class="network-title" data-id="{{ network.id }}" value="{{ network.title | default(network.name) }}" hidden>
        <input type="text" class="network-name" data-id="{{ network.id }}" value="{{ network.text | default(environment.translate('Share')) }}">
        <input type="text" class="network-tooltip" name="networkTooltip" data-id="{{ network.id }}" value="{{ network.tooltip | default(network.name) }}" hidden/>
    </div>
{% endmacro %}